.container,
.author-details,
.comment,
.btns,
.author-username{
    display: grid;
}
.container{
    grid-template-columns: auto auto;
    gap: 1.5rem;
    background: var(--white);
    width: 100%;
    min-height: 10.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
}
.reply-container{
    margin-bottom: 1.5rem;
    margin-left: 5.5rem;
    width: 40rem;
    position: relative;
}
.reply-container::before{
    content: "";
    position: absolute;
    height: 115%;
    width: 0.1rem;
    background-color: var(--gray);
    left: -3rem;
}
.comment-vote,
.comment-author{
    display: flex;
}
.comment-vote{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    background: var(--gray-light);
    border-radius: 0.7rem;
    height: 6.2rem;
    width: 2.5rem;
}
.number-vote{
    color: var(--blue);
    font-weight: 500;
}
.btns{
    grid-auto-flow: column;
    gap: 1.4rem;
}
.btn{
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-reply span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--blue);
    margin-inline-start: 0.5rem;
}
.btn-delete span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--red);
    margin-inline-start: 0.5rem;
}
.comment-author{
    justify-content: space-between;
}
.author-details{
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;
}
.img-author{
    width: 2rem;
}
.name-author{
    font-weight: 500;
    color: var(--blue-dark);
}
.author-username{
    grid-auto-flow: column;
    gap: 0.5rem;
}
.tag-author{
    background: var(--blue);
    display: flex;
    align-items: center;
    color: var(--white);
    border-radius: 0.15rem;
    padding: 0.1rem .42rem 0.185rem .42rem;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
}
.comment-description,
.comment-age{
    color:var(--blue-gray);
}
.comment{
    gap: 0.9rem;
}
.comment-description{
    line-height: 1.5rem;
}
.user-replying-to{
    color: var(--blue);
    font-weight: 500;
}